.center {
    text-align: center;
    height: 26px;
    margin: 8px 0 8px;
}

.spacer-left {
    float: left;
    width: calc(50% - 75px);
}

#settings {
    float: left;
    width: 24px;
    height: 24px;
    margin: 1px;
    margin-right: 10px;
}

#settings:hover {
    cursor: pointer;
}

select {
    float: left;
    width: calc(100% - 39px);
    max-width: max-content;
}

.datebar {
    float: left;
    width: 150px;
    text-align: center;
}

#datepicker {
    width: 60px;
    padding: 3px;
    background-color: unset;
    border: 2px solid #4c4cad;
    border-radius: 4px;
    font: 14px arial;
    color: transparent;
    text-shadow: 0 0 #4c4cad;
    text-align: center;
    cursor: pointer;
}

#datepicker:hover {
    background-color: #4c4cad;
    text-shadow: 0 0 white;
}

input[type=button] {
    min-width: 40px;
}

#clock {
    float: right;
    width: calc(50% - 75px);
    height: 26px;
    line-height: 26px;
    text-align: right;
    font: 26px Arial;
}

#schedule {
    display: block;
    margin: auto;
}

#hairline {
    position: absolute;
    height: 1px;
}

p {
    font: 14px Arial;
}

a {
    text-decoration: none;
    color: #4c4cad;
}

a:hover {
    text-decoration: underline;
}