::-webkit-scrollbar {
    display: none;
}

.center {
    text-align: center;
    height: 26px;
    margin: 8px 0 8px;
}

.spacer-left {
    float: left;
    width: calc(50% - 84px);
}

select {
    float: left;
    width: 100%;
    max-width: max-content;
}

.datebar {
    float: left;
    width: 168px;
}

#datepicker {
    width: 60px;
    padding: 3px;
    background-color: unset;
    border: 2px solid dimgray;
    border-radius: 4px;
    font: 14px arial;
    color: dimgray;
    text-align: center;
    cursor: pointer;
}

input[type=button] {
    min-width: 40px;
}

#clock {
    float: right;
    width: calc(50% - 84px);
    height: 26px;
    line-height: 26px;
    text-align: right;
    font: 26px Arial;
}

#schedule {
    display: block;
    margin: auto;
}

p {
    font: 14px Arial;
}

a {
    text-decoration: none;
    color: #4c4caf;
}

a:hover {
    text-decoration: underline;
}