html, body {
    text-align: center;
}

select {
    width: 100%;
    min-width: 70px;
    max-width: max-content;
    height: 26px;
    -webkit-appearance: none;
    border: 2px solid #4c4caf;
    background-color: white;
    color: #4c4caf;
    padding: 3px 6px;
    border-radius: 4px;
    font: 14px arial;
}

select:hover {
    background-color: #4c4caf;
    color: white;
    cursor: pointer;
}

input[type=button] {
    -webkit-appearance: none;
    min-width: 70px;
    border: 2px solid #4CAF50;
    background-color: white;
    color: #4CAF50;
    margin: 0;
    padding: 3px 6px;
    border-radius: 4px;
    text-align: center;
    font: 14px arial;
}

input[type=button]:disabled {
    filter: grayscale(1);
}

input[type=button]:hover:enabled {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#why {
    width: 500px;
    max-width: 100%;
    margin: auto;
    text-align: left;
    display: none;
}

h1 {
    font: 24px arial;
    color: dimgray;
}

h2 {
    font: 20px arial;
    color: dimgray;
    text-align: center;
}

p {
    color: dimgray;
    font: 14px arial;
}

a {
    color: #4e4caf;
    font: 14px arial;
    cursor: pointer;
}

a:hover {
    text-decoration-line: underline;
}