body {
    max-width: 90%;
    width: 500px;
    margin: 50px auto 0;
}

body>div {
    padding-bottom: 25px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 25px;
}

body>div>h1 {
    display: inline-block;
    margin: 0;
} 

input[type=button][class=delete] {
    min-width: unset;
}

#profiles {
    width: 300px;
}

#profiles li {
    width: 260px;
    height: 28px;
    font: 16px arial;
    line-height: 28px;
    color: dimgray;
}

#clock {
    font: 26px arial;
}

.toggle, select {
    float: right;
}

a, a:hover {
    text-decoration: none;
}